@font-face {
    font-family: "iranyekan";
    src: url("iranyekan/iranyekanwebregular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iranyekan";
    src: url("iranyekan/iranyekanwebmedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iranyekan";
    src: url("iranyekan/iranyekanwebbold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
